@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>A Project by Group Number: 5</h3>
    <h3>Group Members</h3>
    <ul>Sanjay Varghese Kurian, Roll number: 200543654</ul>
    <ul>Kashish Sunil Shah, Roll number:</ul>
    <ul>Aqib Basheer, Roll number:</ul>
</div>
